# Source Code & Local Files (Private Application)
main.js
preload.js
index.html
renderer/
styles/
build.js
package.json
package-lock.json
scripts_viejos/

# Node modules
node_modules/

# Output builds
N_Codigo/
dist/

# Logs and environment
*.log
npm-debug.log*
.env

# System files
.DS_Store
Thumbs.db
